<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Contact' }) %>
<body>
  <%- include('partials/header') %>

  <h1 style="display: none">Contact Form</h1>

  <div class="container my-5">
    <h2 class="mx-auto my-5" style="max-width: 500px" id="contact-title">
      Contact Form
    </h2>
    <form
      class="mx-auto my-5"
      style="max-width: 500px"
      id="contactForm"
      method="POST"
    >
      <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          required
          placeholder="Enter your name"
        />
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          required
          placeholder="Enter your email"
        />
      </div>
      <div class="form-group">
        <label for="message" class="form-label">Message</label>
        <textarea
          id="message"
          name="message"
          class="form-control"
          rows="5"
          required
          placeholder="Your message here"
        ></textarea>
      </div>
      <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block my-3">
          Submit
        </button>
      </div>
    </form>
    <%- include('partials/scripts') %>
    <script src="https://www.google.com/recaptcha/api.js?render=<%= recaptchaSiteKey %>"></script>
    <script>
      grecaptcha.ready(function() {
        // Attach the submit event handler to the form
        $('#contactForm').on("submit", function (event) {
          event.preventDefault();
    
          // Execute reCAPTCHA v3 with the 'submit' action
          grecaptcha.execute('<%= recaptchaSiteKey %>', {action: 'submit'}).then(function(token) {
            // Add the token to the hidden input
            $('#g-recaptcha-response').val(token);
    
            // Now serialize the form data which includes the reCAPTCHA token
            var formData = $('#contactForm').serialize();
    
            // Submit the form with the reCAPTCHA token
            $.ajax({
              type: "POST",
              url: "/contact",
              data: formData,
              dataType: "text",
              success: function () {
                // Update the UI to show a success message
                $("#contact-title").html("<h2>Thanks!</h2>");
                $("#contactForm").html("<p>I'll get back to you as soon as possible.</p>");
              },
              error: function (xhr, status, error) {
                // Log the error and update the UI to show an error message
                console.error("Error in form submission:", status, error);
                $("#contact-title").html("<h2>Oh no!</h2>");
                $("#contactForm").html("<p>There was an error with your submission. Please refresh and try again.</p>");
              }
            });
          });
        });
      });
    </script>
  </div>
  <%- include('partials/footer') %>
</body>
</html>
